<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Dojos</title>
</head>
<body>
    <div>
        <h2>New Dojo</h2>
        <form action="/created" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <button type="submit" value="created" class="btn btn-secondary">Create</button>
        </form>
    </div>
    <div>
        <h2>All Dojos</h2>
        <ul>
            {% for dojo in all_dojos %}
            <li><a hreff="/dojos/{{dojo.id}}">{{dojo['name']}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="/ninjas">Create a new ninja</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>